
header {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}
        body {
            font-family: sans-serif;
            line-height: 1.6;
            margin: 20px;
            background-color: #f4f4f4;
            color: #333;
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #007bff;
        }

.side-image {
    z-index: -1; /* Ensures text is above images */
    height: 100px; /* Adjust the height as needed */
}


.image-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Vertically centers images */

    max-width: 10%; /* Images take up to 30% of parent */
}

.image-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); 

    max-width: 10%; /* Images take up to 30% of parent */
}
.banner-content {
    display: flex; /* Use flexbox for flexible scaling */
    align-items: center; /* Align items in the center vertically*/
    justify-content: space-around; /* Distribute content with space around it */
    max-width: 100%; 
    margin: 0 auto;
}

.banner h1 {
    position: relative; /* Allows for absolute positioning of children */
    font-size: 3em; /* Reduce font-size on smaller screens */
    vertical-align: middle;
    z-index: 2; /* Ensures text is above images */
    max-width: 60%;
    margin: auto;
}

.banner {
    position: relative; /* Allows for absolute positioning of children */
    text-align: center;
    overflow: hidden; /* Prevents images spilling outside the banner */
}

        .faq-item {
            background-color: #fff;
            border: 1px solid #ddd;
            margin-bottom: 15px;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .faq-item h2 {
            margin-top: 0;
            color: #28a745;
            padding-bottom: 5px;
            border-bottom: 1px solid #eee;
        }
        .faq-answer {
            padding-top: 10px;
            color: #555;
        }
@media (max-width: 600px) { /* Adjust breakpoint as needed */

    .banner h1 { 
        font-size: 2em; /* Reduce font-size on smaller screens */
    }
}





table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto; /* Centers the table */
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
